.lorem{
    color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ttx{
    color: aqua;
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jijaa{
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    background-color: #5E17EB;
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 10px;
    display: grid;
  }
  
  .jijaa:hover {
    background-color: #F9F6F2;
  }
  

#buy{
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500px;
    cursor: pointer;
    transition: all 500ms ease;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

#buy:hover{
    background: var(--tg-theme-secondary-bg-color);
}

#order{
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500px;
    cursor: pointer;
    transition: all 500ms ease;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

#order:hover{
    background: var(--tg-theme-secondary-bg-color);
}

.inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
}

.img{
    width: 150px;
}

.item{
    text-align: center;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: #5E17EB;
    border-radius: 10px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;

    transition: background .2s linear;
}

.btn:hover{
    background: #F9F6F2;
}

.container{
    max-width: 390px;
}

body{
    font-family: 'Mobtserrat', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    width: 350px;
    margin: 0 auto;
}

#form {
    display: none;
    text-align: center;
}

input{
    width: 90%;
    outline: none;
    margin: 10px 5%;
    padding: 15px 10px;
    font-size: 14px;
    border: 2px solid silver;
    border-radius: 5px;
}

input:focus{
    border-color: #db5d5d;
}