.lorem{
    color: aqua;
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 70px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body{
    font-family: 'Mobtserrat', sans-serif;
    font-weight: 200;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    width: 350px;
    margin: 0 auto;
}

#form {
    display: none;
    text-align: center;
}

input{
    width: 90%;
    outline: none;
    margin: 10px 5%;
    padding: 15px 10px;
    font-size: 14px;
    border: 2px solid silver;
    border-radius: 5px;
}

button{
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: 500px;
    cursor: pointer;
    transition: all 500ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

button:hover{
    background: var(--tg-theme-secondary-bg-color);
}