.lorem{
    color: aqua;
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 70px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body{
    font-family: 'Mobtserrat', sans-serif;
    font-weight: 200;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    width: 350px;
    margin: 0 auto;
}

button{
    width: 200px;
    height: 60px;
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background: var(--tg-theme-secondary-bg-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота контейнера будет равна высоте видимой части окна */
}